In [1]:
import numpy as np
import pandas as pd
import altair as alt

In [2]:
df = pd.read_csv(filepath_or_buffer="anonymous_response.csv")
df.head()

,Q_id,Q1,Q2,Q3,Q4,Q5,Q6_1,Q6_2,Q6_3,Q6_4,...,Q12_16,Q12_17,Q12_18,Q12_19,Q12_20,Q12_21,Q12_22,Q12_23,Q12_24,Q12_25
0,P1,3,3,2,2,1,Off,Off,On,Off,...,Off,Off,On,Off,Off,Off,Off,Off,Off,Off
1,P2,3,3,2,2,1,Off,Off,Off,Off,...,Off,Off,On,Off,Off,Off,Off,Off,Off,Off
2,P3,3,3,2,2,1,Off,Off,Off,Off,...,Off,Off,On,Off,Off,Off,Off,Off,Off,Off
3,P4,3,3,2,1,1,Off,Off,Off,Off,...,Off,Off,On,Off,Off,Off,Off,Off,Off,Off
4,P5,3,3,2,2,1,Off,Off,Off,Off,...,Off,Off,On,Off,Off,Off,Off,Off,Off,Off

# Task 1

In [3]:
t1_ans = [3, 3, 2, 2, 1]
t1_q = ['Q1', 'Q2', 'Q3', 'Q4', 'Q5']

In [4]:
# accuracy per person
t1_response = df[t1_q].values
t1_grade = t1_response.astype(int) == t1_ans
t1_grade.astype(int)

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 0, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [0, 1, 0, 1, 0],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [0, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [0, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [5]:
# q1 is just for familiarization, not report in the final result
t1_grade.sum(axis=0)[1:]

array([24, 23, 23, 23])

# Task 2

In [6]:
t2_ans = {
    'Q6': [3, 4, 6, 7, 10, 11, 15, 16, 17, 19, 20, 21, 23],  # the first task is not report in the result
    'Q7': [2,3,4,10,11,18,20,21,24], 
    'Q8': [6, 15, 16, 19, 23], 
    'Q9': [11], 
    'Q10': [10,13,16,17,22,24], 
    'Q11': [1,2,5,8,9,12,14,18,22,24,25], 
    'Q12': [18],
}
t2_q = list(t2_ans.keys())

In [7]:
# target: get t2_grade
# one incorrect makes it incorrect
t2_grade = []
for idx in range(df.shape[0]):
    one_reply = []
    for q_id in t2_q:
        hit_count = 0
        for area in t2_ans[q_id]:
            hit_count += df.iloc[idx][q_id+'_'+str(area)] == 'On'
        for area in range(1,26):
            hit = df.iloc[idx][q_id+'_'+str(area)] == 'On' and (area not in t2_ans[q_id])
            if hit:
                hit_count == 0
                break
        one_reply.append(hit_count>0)
    t2_grade.append(one_reply)
t2_grade = np.array(t2_grade, dtype=int)

In [8]:
t2_grade.sum(axis=0)[1:]

array([24, 23, 23, 22, 24, 24])