In [2]:
import os
import json
import pandas as pd
import numpy as np

from sklearn.neural_network import MLPClassifier

from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn import svm

from pmlb import fetch_data

## Read Data
You can change the code below to read your own data.

In [3]:
data_name = 'penn_benchmark_satellite_image'

# Returns a pandas DataFrame
df = fetch_data('294_satellite_image')
print(df.describe())

             attr1        attr2        attr3        attr4        attr5  \
count  6435.000000  6435.000000  6435.000000  6435.000000  6435.000000
mean     69.400000    83.594872    99.290598    82.592696    69.150272
std      13.605871    22.882234    16.645944    18.897674    13.561197
min      39.000000    27.000000    53.000000    33.000000    39.000000
25%      60.000000    71.000000    85.000000    69.000000    60.000000
50%      68.000000    87.000000   101.000000    81.000000    68.000000
75%      80.000000   103.000000   113.000000    92.000000    80.000000
max     104.000000   137.000000   140.000000   154.000000   104.000000

             attr6        attr7        attr8        attr9       attr10  ...  \
count  6435.000000  6435.000000  6435.000000  6435.000000  6435.000000  ...
mean     83.243512    99.110645    82.497125    68.912354    82.893085  ...
std      22.886495    16.664088    18.940923    13.470599    22.862255  ...
min      27.000000    50.000000    29.000000    40.000000    27.000000  ...
25%      71.000000    85.000000    69.000000    60.000000    71.000000  ...
50%      85.000000   101.000000    81.000000    67.000000    85.000000  ...
75%     103.000000   113.000000    92.000000    79.000000   102.000000  ...
max     137.000000   145.000000   157.000000   104.000000   130.000000  ...

            attr28       attr29       attr30       attr31       attr32  \
count  6435.000000  6435.000000  6435.000000  6435.000000  6435.000000
mean     82.660606    68.944056    83.145610    99.111888    82.618026
std      18.991281    13.492684    22.847199    16.704305    19.043661
min      29.000000    39.000000    27.000000    50.000000    29.000000
25%      69.000000    60.000000    71.000000    85.000000    69.000000
50%      81.000000    68.000000    85.000000   100.000000    81.000000
75%      92.000000    79.000000   103.000000   113.000000    92.000000
max     154.000000   104.000000   130.000000   145.000000   157.000000

            attr33       attr34       attr35       attr36       target
count  6435.000000  6435.000000  6435.000000  6435.000000  6435.000000
mean     68.727584    82.858897    98.926030    82.505361     3.668687
std      13.401603    22.816959    16.695488    19.054274     2.214052
min      39.000000    27.000000    50.000000    29.000000     1.000000
25%      60.000000    71.000000    85.000000    68.000000     2.000000
50%      67.000000    84.000000   100.000000    81.000000     3.000000
75%      79.000000   103.000000   113.000000    92.000000     5.000000
max     104.000000   130.000000   145.000000   157.000000     7.000000

[8 rows x 37 columns]

In [4]:
df.head()

,attr1,attr2,attr3,attr4,attr5,attr6,attr7,attr8,attr9,attr10,...,attr28,attr29,attr30,attr31,attr32,attr33,attr34,attr35,attr36,target
0,92.0,115.0,120.0,94.0,84.0,102.0,106.0,79.0,84.0,102.0,...,104.0,88.0,121.0,128.0,100.0,84.0,107.0,113.0,87.0,3.0
1,84.0,102.0,106.0,79.0,84.0,102.0,102.0,83.0,80.0,102.0,...,100.0,84.0,107.0,113.0,87.0,84.0,99.0,104.0,79.0,3.0
2,84.0,102.0,102.0,83.0,80.0,102.0,102.0,79.0,84.0,94.0,...,87.0,84.0,99.0,104.0,79.0,84.0,99.0,104.0,79.0,3.0
3,80.0,102.0,102.0,79.0,84.0,94.0,102.0,79.0,80.0,94.0,...,79.0,84.0,99.0,104.0,79.0,84.0,103.0,104.0,79.0,3.0
4,84.0,94.0,102.0,79.0,80.0,94.0,98.0,76.0,80.0,102.0,...,79.0,84.0,103.0,104.0,79.0,79.0,107.0,109.0,87.0,3.0

In [5]:
df['target'].median(), df['target'].min(), df['target'].max(),

(3.0, 1.0, 7.0)

In [6]:
df['target'].value_counts()

1.0    1533
7.0    1508
3.0    1358
5.0     707
2.0     703
4.0     626
Name: target, dtype: int64

In [7]:
gt = (df['target'] > df['target'].median()).astype(int)
df['gt'] = gt

In [8]:
df['gt'].value_counts()

0    3594
1    2841
Name: gt, dtype: int64

## Train a classification model
In this step, you can either train a model in the cell below, or skip the training part and read the model prediction of the training data from your own model .

In [9]:
'''prepare data'''
target_col = 'gt'

to_keep = df.columns[:-2]
X = df[to_keep].values
y = df[target_col].values
y = y.reshape(len(y))

train, test, train_labels, test_labels = train_test_split(X, y, test_size = 0.2)

train_df = pd.DataFrame(train, columns=df.columns[:-2].values)
test_df = pd.DataFrame(test, columns=df.columns[:-2].values)

'''train the model'''
clf = MLPClassifier(random_state=1, max_iter=350)
clf.fit(train, train_labels)

'''report accuracy'''
print(clf.score(test,test_labels ))

0.8562548562548562

In [10]:
y_pred = clf.predict(train)

## Output Training Data

In [11]:
'''
cols: the column names of the input data.
data: the training input.
target_names: the names for the target classes (grount truth).
real_min: minimal values for columns of the input data.
real_max: maximal values for columns of the input data.
y_pred: the prediction of the input data from the model you want to explain.
y_gt: the ground truth of the input data.
'''

def output_data(cols, data, target_names, real_min, real_max, y_pred, y_gt):
    filename = "./output/"+data_name+"/test.json"
    directory = os.path.dirname(filename)
    if not os.path.exists(directory):
        os.makedirs(directory)
        
    to_output = {}
    to_output['columns'] = cols
    to_output['data'] = data
    to_output['target_names'] = target_names
    to_output['real_min'] = real_min
    to_output['real_max'] = real_max
    to_output['y_pred'] = y_pred
    to_output['y_gt'] = y_gt
    with open(filename, 'w') as output:
        output.write(json.dumps(to_output))

In [12]:
''' name the target classes '''
target_names = ["low", "high"]

''' obtain the min and max values '''
min_val = np.min(X, axis=0)
max_val = np.max(X, axis=0)

''' output data '''
output_data(cols=to_keep.tolist(), 
            data=train.tolist(), 
            target_names=target_names, 
            real_min=min_val.tolist(), 
            real_max=max_val.tolist(),
            y_pred=y_pred.tolist(), 
            y_gt=train_labels.tolist())