In [1]:
import os
import json
import pandas as pd
import numpy as np

from sklearn.neural_network import MLPClassifier

from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn import svm

from pmlb import fetch_data

## Read Data
You can change the code below to read your own data.

In [2]:
data_name = 'penn_benchmark_wind'

# Returns a pandas DataFrame
df = fetch_data('503_wind')
print(df.describe())

              year        month          day          RPT          VAL  \
count  6574.000000  6574.000000  6574.000000  6574.000000  6574.000000
mean     69.500304     6.523274    15.728628    12.363715    10.646448
std       5.188131     3.448871     8.800335     5.619610     5.268602
min      61.000000     1.000000     1.000000     0.670000     0.210000
25%      65.000000     4.000000     8.000000     8.120000     6.670000
50%      69.500000     7.000000    16.000000    11.710000    10.170000
75%      74.000000    10.000000    23.000000    15.920000    14.040000
max      78.000000    12.000000    31.000000    35.799999    33.369999

               ROS          KIL          SHA          BIR          DUB  \
count  6574.000000  6574.000000  6574.000000  6574.000000  6574.000000
mean     11.660103     6.306275    10.456880     7.092254     9.796835
std       5.007765     3.605407     4.935739     3.968683     4.977272
min       1.500000     0.000000     0.130000     0.000000     0.000000
25%       8.000000     3.580000     6.750000     4.000000     6.000000
50%      10.920000     5.750000     9.960000     6.830000     9.210000
75%      14.670000     8.420000    13.540000     9.670000    12.960000
max      33.840000    28.459999    37.540001    26.160000    30.370001

              CLA          MUL          CLO          BEL       target
count  6574.00000  6574.000000  6574.000000  6574.000000  6574.000000
mean      8.49442     8.495818     8.707268    13.121007    15.599462
std       4.49900     4.167778     4.503615     5.835037     6.697857
min       0.00000     0.000000     0.040000     0.130000     0.670000
25%       5.09000     5.370000     5.330000     8.710000    10.710000
50%       8.08000     8.170000     8.290000    12.500000    15.000000
75%      11.42000    11.210000    11.630000    16.879999    19.830000
max      31.08000    25.879999    28.209999    42.380001    42.540001

In [3]:
df.head()

,year,month,day,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,target
0,61.0,1.0,1.0,15.04,14.960000,13.17,9.29,13.96,9.87,13.67,10.25,10.83,12.58,18.500000,15.04
1,61.0,1.0,2.0,14.71,16.879999,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.540001,13.83
2,61.0,1.0,3.0,18.50,16.879999,12.33,10.13,11.17,6.17,11.25,8.04,8.50,7.67,12.750000,12.71
3,61.0,1.0,4.0,10.58,6.630000,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.460000,10.88
4,61.0,1.0,5.0,13.33,13.250000,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.920000,11.83

In [4]:
df['target'].median(), df['target'].min(), df['target'].max(),

(15.0, 0.6700000166893005, 42.540000915527344)

In [5]:
df['target'].value_counts()

14.670000    27
11.960000    26
12.920000    25
13.210000    25
13.790000    24
             ..
37.040001     1
27.629999     1
5.750000      1
34.000000     1
32.419998     1
Name: target, Length: 779, dtype: int64

In [6]:
gt = (df['target'] > df['target'].median()).astype(int)
df['gt'] = gt

In [7]:
df['gt'].value_counts()

0    3299
1    3275
Name: gt, dtype: int64

## Train a classification model
In this step, you can either train a model in the cell below, or skip the training part and read the model prediction of the training data from your own model .

In [22]:
'''prepare data'''
target_col = 'gt'

to_keep = df.columns[:-2]
X = df[to_keep].values
y = df[target_col].values
y = y.reshape(len(y))

train, test, train_labels, test_labels = train_test_split(X, y, test_size = 0.2)

train_df = pd.DataFrame(train, columns=df.columns[:-2].values)
test_df = pd.DataFrame(test, columns=df.columns[:-2].values)

'''train the model'''
clf = MLPClassifier(random_state=1, max_iter=350)
clf.fit(train, train_labels)

'''report accuracy'''
print(clf.score(test,test_labels ))

0.8319391634980988